# Ignorer les fichiers de configuration
*.env

# Ignorer les fichiers de log
logs/*

#Ignorer le dossier app
/app

# Ignorer tous les fichiers .tmp
*.tmp

# Ignorer tout le dossier wordpress sauf le dossier content
/wordpress/*
!/wordpress/wp-content/


# Ignorer les dossiers languages et uploads dans wp-content
/wordpress/content/languages
/wordpress/content/uploads
