# Ignorer les fichiers de configuration
*.env

# Ignorer les fichiers de log
logs/*

#Ignorer le dossier app
/app

# Ignorer tous les fichiers .tmp
*.tmp

# Ignorer tout le dossier wordpress
wordpress/*
!wordpress/.gitkeep
